<!-- SEARCH FORM -->
<form>
  <div>
      <label>Search Term
          <input id="search_term" type="text" name="search_term">
      </label>
      <div>
          <button id="submit" type="submit">submit</button>
      </div>
  </div>
</form>
<i class="fa fa-spinner fa-pulse fa-2x fa-fw" style="display:none"></i>

<!-- RESULTS TABLE -->
<table id="results-table">
  <th>Price</th>
</table>
