<% if results && results.any? %>
  <% if next_page || last_page %>
    <p> Page <%= page %></p>
  <% end %>
  <table>
    <th>Price</th>
    <% results.each do |result| %>
      <% info = JSON.parse(result["json"]) %>
      <tr>
        <td><%= info["price"] %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <% if last_page %>
      <button class="page-number" data-page=<%= last_page %>>Back</button>
    <% end %>
    <% if next_page %>
      <button class="page-number" data-page=<%= next_page %>>Next</button>
    <% end %>
  </div>
<% end %>
