<%= link_to 'Admin', admin_caches_path %>
<h1>Product Search</h1>
<p>Here you can search and view information about products.</p>
<!-- SEARCH FORM -->
<form>
  <div>
      <input id="search_term" type="text" name="search_term" placeholder="Search Term">
      <button id="search-submit" type="submit">Submit</button>
  </div>
</form>
<i class="fa fa-spinner fa-pulse fa-2x fa-fw" style="display:none"></i>

<!-- RESULTS TABLE -->
<div id="results-table"></div>
